

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Markers</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      function initMap() {
        var locenter = {lat: 15.2304141, lng: 104.0668167};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 9,
          center: locenter
        });
 /*var lomarker = {lat: {{ d.Latitude }}, lng: {{d.Longitude}} };*/
        {% for d in x %}
        var marker = new google.maps.Marker({
          position: {lat: {{d.Latitude}}, lng: {{d.Longitude}}},
          map: map,
          title: '{{d.Name}} {{d.Status}} {{d.Category}}'
        });
        {% endfor %}
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJWuQmrf6UgrkGbMJF6-m1GwTZrazBFBo&callback=initMap">
    </script>
  </body>
</html>