{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card border-0">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#tab1" data-toggle="tab">โรงเรียน</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab2" data-toggle="tab">องค์การบริหารส่วนตำบล</a>
            </li>
          </ul>
          <div class="tab-content px-1 pt-3">
            <div class="tab-pane active" id="tab1">
              Select a palette, change the <span class="text-primary ">primary</span>, <span class="text-secondary ">secondary</span>,
              <span class="text-success ">success</span>, <span class="text-danger ">danger</span>,
              <span class="text-info ">info</span>, and <span class="text-warning ">warning</span> colors.
              Choose from various Google Fonts, and modify most of the Bootstrap SASS variables. Click to generate your
              completely custom
              Bootstrap theme.{{x}}

              <div id="map"></div>
            </div>
            <div class="tab-pane" id="tab2">
              The whole idea is to make the Bootstrap customization process easier, and allow you to visualize changes
              along
              the way.
              For most users it's designed to be point-and-click, while advanced users can delve into the SASS as
              desired.
              It's a 4-step process.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock  %}